@media (min-width: 900px) {
  body {
    .mainPage {
      .mainContentContainer {
        .mainContent {
          padding-top: 15em;
          width: 60vw;
          .title {
            font-size: 4em;
          }
        }
      }
    }
  }
  .Sidebar {
    width: 25%;
  }
}
